In [7]:
import numpy as np
import pandas as pd

data = pd.read_csv("T8-4.dat",sep='\t',names=["JpMorgan","Citibank","WellsF","RDShell","ExonMob"])
data.head()

   JpMorgan  Citibank    WellsF   RDShell   ExonMob
0  0.013034 -0.007843 -0.003189 -0.044769  0.005215
1  0.008486  0.016689 -0.006210  0.011956  0.013489
2 -0.017915 -0.008639  0.010036  0.000000 -0.006143
3  0.021559 -0.003486  0.017435 -0.028592 -0.006953
4  0.010822  0.003717 -0.010134  0.029190  0.040975

In [9]:
from factor_analyzer import FactorAnalyzer # pip install factor_analyzer
fa = FactorAnalyzer()
fa.analyze(data, 2, rotation=None, method='ml')
fa.loadings

           Factor1   Factor2
JpMorgan  0.120597  0.754267
Citibank  0.328492  0.785750
WellsF    0.187602  0.650217
RDShell   0.997472 -0.007104
ExonMob   0.685175  0.026317

In [10]:
fa.get_factor_variance()

                 Factor1   Factor2
SS Loadings     1.622061  1.609847
Proportion Var  0.324412  0.321969
Cumulative Var  0.324412  0.646381

In [12]:
fa = FactorAnalyzer()
fa.analyze(data, 2, rotation='varimax', method='ml')
fa.loadings

           Factor1   Factor2
JpMorgan  0.029193  0.763289
Citibank  0.231806  0.819497
WellsF    0.108201  0.668034
RDShell   0.991114  0.112672
ExonMob   0.677062  0.108367

In [13]:
fa.get_factor_variance()

                 Factor1   Factor2
SS Loadings     1.507014  1.724894
Proportion Var  0.301403  0.344979
Cumulative Var  0.301403  0.646381